body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.search-box {
    position: relative;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#suggestions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 300px;
    background-color: white;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#movieContent {
    margin-top: 20px;
    color: darkblue;
    font-size: 18px;
}

.movie-details {
    text-align: left;
    margin-top: 20px;
}

.movie-details img {
    width: 220px;
    height: 326px;
    display: block;
    margin: 0 auto 10px;
}
